[Unit]
Description=Exporter Couchbase
After=network-online.target

[Service]
Type=simple
User=prometheus
ExecStart=/etc/prometheus/sbin/exporter_couchbase config.file=/etc/prometheus/var/couchbase/exporter_couchbase.yaml
Restart=on-failure

[Install]
WantedBy=multi-user.target