[Unit]
Description=Exporter Node
After=network-online.target

[Service]
Type=simple
User=prometheus
ExecStart=/etc/prometheus/sbin/exporter_node config.file=/etc/prometheus/var/couchbase/exporter_couchbase.yaml
Restart=on-failure


[Install]
WantedBy=multi-user.target