[Unit]
Description=Exporter Node
After=network-online.target network.target

[Service]
Type=simple
User=prometheus
Group=prometheus
ExecStart=/etc/prometheus/sbin/exporter_node --web.listen-address=:11020
ExecReload=/bin/kill $MAINPID
KillSignal=SIGQUIT
TimeoutStopSec=60
KillMode=process
Restart=on-failure

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=exporter_node

[Install]
WantedBy=multi-user.target